/* Wofi CSS Config - Matching Rofi Theme */

window {
    margin: 100px 0px 0px 0px;
    border: 1px solid rgb(15, 92, 80);

    font-family: monospace;
    font-size: 12px;
}

#input {
    margin: 0px;
    padding: 0px;
    border: 1px solid rgba(233, 67, 2, 0.911);
    background-color: rgba(78, 35, 18, 0.89);
    color: #5dfdcd;
    border-radius: 0px;
}

#inner-box {
    margin: 0px;
    border: none;
    background-color: rgba(15, 92, 81, 0.06);
}

#outer-box {
    margin: 0px;
    border: none;
    background-color: transparent;
}

#scroll {
    margin: 2px;
    border: none;
}

#text {
    margin: 0px;
    padding: 0px;
    color: #7ccfe4;
}

#entry {
    background-color: transparent;
}

#entry:selected {
    background-color: rgba(7, 14, 29, 0.58);
}

#entry:selected #text {
    color: #ff0000;
}

/* Icon styling */
#img {
    margin-right: 8px;
}