tooltip 
{ 
    color: rgb(172, 144, 121);
    background-color: rgba(2, 12, 11, 0.925);
    border-color: rgb(148, 226, 213);
}

#custom-arch,
#workspaces,
#window,
#cpu,
#memory,
#temperature,
#battery,
#idle_inhibitor,
#pulseaudio,
#backlight,
#network,
#tray,
#clock
{
    color: rgb(172, 144, 121);
    background-color: rgba(6, 39, 36, 0.349);
    border-color: rgba(148, 226, 213, 0.3);
    border-top-color: rgba(148, 226, 213, 0.3);
    border-bottom-color: rgba(148, 226, 213, 0.3);
}

#custom-arch 
{
    color: rgb(0, 132, 255);
}

#window
{
    
}

#custom-arch:hover,
#window:hover,
#cpu:hover,
#memory:hover,
#temperature:hover,
#battery:hover,
#idle_inhibitor:hover,
#pulseaudio:hover,
#backlight:hover,
#network:hover,
#clock:hover
{
    color: rgb(248, 180, 124);
    background-color: rgba(12, 73, 67, 0.432);
    border-color: rgba(148, 226, 213, 0.61);
    border-top-color: rgba(148, 226, 213, 0.61);
    border-bottom-color: rgba(148, 226, 213, 0.61);
}

#workspaces button
{
    color: rgb(108, 199, 206);
    background-color: rgba(4, 27, 25, 0.432);
    border-color: rgba(255, 255, 255, 0.116);
}

#workspaces button:hover
{
    color: rgb(248, 180, 124);
    border-color: rgb(48, 134, 98);
}

#workspaces button.active 
{
    color: rgb(108, 199, 206);
    background-color: rgba(11, 66, 60, 0.637);
    border-color: rgba(0, 183, 255, 0.418);
}

#workspaces *.active:hover {
    color:rgb(248, 180, 124);
    border-color: rgb(48, 134, 98);
}

/* Tray icon hover */
*:hover 
{
    color: red; /* Not used (set to red to see if it effects anything) */
    background-color: rgba(0, 217, 255, 0.205);
    border-color: aliceblue;
}